[ req ]
default_bits           = 1024
days                   = 999
distinguished_name     = req_distinguished_name
prompt                 = no
req_extensions         = v3_req

x509_extensions        = v3_ca

[ req_distinguished_name ]
C                      = US
ST                     = LA
L                      = New Orleans
O                      = uv_tls
OU                     = uv_tls 
CN                     = localhost
emailAddress           = alan@prettyrobots.com

[ req_attributes ]

[ v3_req ]
basicConstraints       = CA:TRUE
subjectAltName         = IP:127.0.0.1

[ v3_ca ]
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always,issuer:always
